@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
    @if $vendors {
        @each $vendor in $vendors {
            #{"-" + $vendor + "-" + $property}: #{$value};
        }
    }
    #{$property}: #{$value};
}

@mixin rotate($deg) {
    @include prefix(transform, rotate(#{$deg}deg));
}

@mixin animate($name, $options) {
    @include prefix(animation, #{$name + " " + $options});
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(fadeIn) {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

$green: #43FE99;
$green-hover: #3CEB8C;
$blue: #0089FF;
$white: #FFFFFF;
$primary-font: 'Maven Pro', sans-serif;

html, body {
    margin: 0;
    padding: 0;
    color: $blue;
    font-family: $primary-font;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 16px;
}

.container, .root {
    height: 100%;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 4px;
    background: $green;
    @include rotate(45);
}

.main-title {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 16px;
    @include animate(fadeIn, 1s)
}

.slogan {
    margin-top: 30px;
}

.divider {
    width: 140px;
    height: 4px;
    border-radius: 4px;
    background-color: $green;
    margin: 0 auto;
}

.bold {
    font-weight: 600;
}

.skills {
    max-width: 300px;
    margin: 0 auto;
}

.skills__tag {
    background-color: $blue;
    color: $white;
    font-weight: 500;
    display: inline-block;
    padding: 4px 12px;
    font-size: 12px;
    border-radius: 12px;
    margin: 3px;
}

.more-info {
    margin-top: 60px;
}

.more-info__label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

.social-icons {
    display: flex;
    max-width: 70px;
    margin: 0 auto;
    justify-content: space-between;
}

.social-icons__icon {
    display: block;
    text-decoration: none;
    color: $green;

    &:hover {
        color: $green-hover;
    }
}
