@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import '../scss/variables.scss';
@import '../scss/mixins.scss';


html, body {
    margin: 0;
    padding: 0;
    color: $blue;
    font-family: $primary-font;
    text-align: center;
    height: 100%;
}

::-moz-selection {
    background: $yellow-light;
}

::selection {
    background: $yellow-light;
}

.container, .root {
    height: 100%;
    min-height: 500px;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.slogan {
    margin-top: 30px;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
}

.slogan__fade {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    margin-right: 4px;
    @include animate(fadeIn, 1s ease 1s 1 normal forwards)
}

.slogan__slide-wrap {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    width: 0;
    @include animate(revealSlideIn, .5s $main-transition 1.5s 1 normal forwards)
}

.slogan__slide {
    margin-left: -100%;
    @include animate(slideIn, .5s $main-transition 1.6s 1 normal forwards)
}
