@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');
@import '../scss/variables.scss';
@import '../scss/mixins.scss';


html, body {
    margin: 0;
    padding: 0;
    color: $blue;
    font-family: $primary-font;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 16px;
}

.container, .root {
    height: 100%;
}

.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 4px;
    background: $green;
    @include rotate(45);
}

.main-title {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 16px;
    @include animate(fadeIn, 1s)
}

.slogan {
    margin-top: 30px;
}

.divider {
    width: 140px;
    height: 4px;
    border-radius: 4px;
    background-color: $green;
    margin: 0 auto;
}

.bold {
    font-weight: 600;
}

.skills {
    max-width: 300px;
    margin: 0 auto;
}

.more-info {
    margin-top: 60px;
}

.more-info__label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}

.social-icons {
    display: flex;
    max-width: 88px;
    margin: 0 auto;
    justify-content: space-between;
}
