@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.skill-tag {
    background-color: $blue;
    color: $white;
    font-weight: 500;
    display: inline-block;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 16px;
    margin: 3px;
    opacity: 0;
    transform: scale(0);

    @include animate(revealScale, .7s $bouncy-transition .1s 1 normal forwards)
}
