@import '../scss/variables.scss';
@import '../scss/mixins.scss';

$tag-line-height: 20px;
$tag-helptext-height: 60px;
$tag-helptext-width: 240px;

@include keyframes(revealHelp) {
    0%   {
        width: 0;
        height: 0;
        bottom: -$tag-line-height;
    }
    10%   {
        width: 2px;
        height: 2px;
        border: 2px solid $green;
        bottom: -($tag-line-height + 2);
        margin-left: -1px;
    }
    50%  {
        width: $tag-helptext-width;
        height: 2px;
        border: 2px solid $green;
        bottom: -($tag-line-height + 2);
        margin-left: -($tag-helptext-width / 2);
    }
    100% {
        width: $tag-helptext-width;
        height: $tag-helptext-height;
        border: 2px solid $green;
        bottom: -($tag-line-height + $tag-helptext-height);
        margin-left: -($tag-helptext-width / 2);
        padding: 0 4px;
    }
}

.skill-tag {
    position: relative;
    background-color: $blue;
    color: $white;
    font-weight: 500;
    display: inline-block;
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 16px;
    margin: 3px;
    opacity: 0;
    transform: scale(0);
    z-index: 1;
    cursor: default;

    @include animate(revealScale, .7s $bouncy-transition .1s 1 normal forwards)
    @include transition(all .2s $main-transition)

    &.skill-tag_withhelptext {
        &:hover {
            background-color: $green;
            z-index: 10;

            .skill-tag__line {
                height: $tag-line-height;
                bottom: -$tag-line-height;
            }

            .skill-tag__helptext {
                @include animate(revealHelp, .3s $main-transition .3s 1 normal forwards)
            }
        }
    }
}

.skill-tag__line {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 0;
    margin-left: -1px;
    background-color: $green;

    @include transition(all .2s $bouncy-transition .1s)
}

.skill-tag__helptext {
    position: absolute;
    display: block;
    overflow: hidden;
    bottom: -$tag-line-height;
    border-radius: 4px;
    left: 50%;
    width: 0;
    height: 0;
    background-color: $green;
}

.skill-tag__helptext-content {
    display: block;
    font-size: 12px;
    color: $white;
    font-weight: 400;
    margin-top: 6px;
}
