@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.slogan {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
}

.slogan__fade {
    opacity: 0;
    @include animate(fadeIn, 1s ease 1s 1 normal forwards)
}


@media(min-width: 555px) {
    .slogan {
        overflow: hidden;
    }

    .slogan__fade {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 4px;
    }

    .slogan__slide-wrap {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        opacity: 0;
        width: 0;
        @include animate(revealSlideIn, .5s $main-transition 1.5s 1 normal forwards)
    }

    .slogan__slide {
        margin-left: -100%;
        @include animate(slideIn, .5s $main-transition 1.6s 1 normal forwards)
    }
}

@media(max-width: 554px) {
    .slogan__slide-wrap {
        opacity: 0;
        @include animate(fadeIn, 1s ease 1.5s 1 normal forwards)
    }
}
