@import '../scss/variables.scss';

.social-icon {
    display: block;
    text-decoration: none;
    color: $green;
    transition: all .3s ease;
    padding-bottom: 4px;
    font-size: 18px;

    &:hover {
        color: $green-hover;
        transform: translateY(-4px);
    }
}
