@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.main-title {
    line-height: 1;
    margin-top: 0;
    margin-bottom: 16px;
    opacity: 0;
    font-size: 60px;
    @include animate(fadeIn, 1s ease .5s 1 normal forwards)
}
